.navbar {
    width: 100vw;
    height: 100px;
    min-width: 600px !important;
  background: transparent !important;
  color: white !important;
  position: sticky;
  top: 0;
 

}
.microsoft-logo {
  width: 30px;
  height: 30px;
  margin-right: 2px;
  margin-left: 150px;
}
.microsoft-brand{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

a {
  text-decoration: none !important;
}
.navbar-brand {
  color: white !important;
  font-size: 28px;
  font-weight: 700;
}
.nav-link {
  color: white !important;
  font-size: 17px;
}
.profile-img {
  width: 30px;
}
.ham-img {
  width: 30px;
}
.navbar-right-container {
  width: 10vw;
  min-width: 8vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a {
  text-decoration: none;
  color: black !important;
}
.drop-down {
  background-color: white;
  position: fixed;
  height: 70vh;
  width: 400px;
  border-radius: 6px;
  margin-left: -160px;
  top: 80px;
  padding: 10px;
  z-index: 9999999;
}
.general-img {
  width: 16px;
  height: 16px;
  margin: 0 7px;
}
.text-color {
  color: black !important;
  margin-left: 10px;
  margin-top: 18px;
}
.navbar-toggler-icon{
  display: none!important;
}
.sign-in-button{
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

    
