.navbar {
    width: 100%;
    min-width: 14vw !important;
  background: transparent !important;
  color: white !important;
  position: sticky;
  top: 0;
 

}
.microsoft-logo {
  width: 40px;
  height: 40px;
  margin-right: 7px;
  margin-left: 10%;
}
a {
  text-decoration: none !important;
}
.navbar-brand {
  color: white !important;
  font-size: 28px;
  font-weight: 700;
}
.nav-link {
  color: white !important;
  font-size: 17px;
}
.profile-img {
  width: 30px;
}
.ham-img {
  width: 30px;
}
.navbar-right-container {
  width: 10vw;
  min-width: 8vw;
  margin-right: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.a {
  text-decoration: none;
  color: black !important;
}
.drop-down {
  background-color: white;
  position: fixed;
  height: 350px;
  border-radius: 6px;
  top: 100px;
}
.general-img {
  width: 16px;
  height: 16px;
  margin: 0 7px;
}
.text-color {
  color: black !important;
  margin-left: 10px;
  margin-top: 18px;
}
.navbar-toggler-icon{
  display: none!important;
}
