.searchLogo{
    width: 30px;
    height: 30px;
    
}
.search-logo{
    width: 40px !important;
    height: 40px !important;
   
}
#searchbar{
    width: 46vw;
    min-width: 400px;
    height: 6vh;
    border-radius: 45px;
    outline: none;
    border: none;
}

.searchbar-container{
    display: flex;
    width: 80vh;
    min-width: 400px;
    height: 4vh;
   margin-top:20vh;
   margin-left: 20%;
   align-items: center;
}
.search-voice-logo{
    width: 30px;
    height: 30px;

}
.search-logo-container{
    width: 140px;
    margin-left: -160px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}