.bing-container{
  background-image: url("https://wallpaperaccess.com/full/277912.jpg");
  height: 100vh;
  min-width: 8vw;

}
.slide-container{
  min-width: 40vw;
  max-width: 50vw;
  margin: auto;
  height:230vh;
  position: fixed;
  top: 40vh;
  left: 20vw;
  margin-top: 20vh;
  color: white;
}