.bing-container{
  background-image: url("https://wallpaperaccess.com/full/277912.jpg");
  height: 100vh;
}
.slide-container{
  width: 50%;
  margin: auto;
  height: 200px;
  margin-top: 20%;
  color: white;
}